<div
  *ngIf="userPersonalInfo$ | async as userPersonalInfo"
  class="wrapper">
  <div class="bio">
    <div class="avatar"></div>
    <div>
      <div class="name-wrapper">
        <p class="mat-headline-5 mb-0">
          {{ userPersonalInfo.name || 'No Name' }}
          {{ userPersonalInfo.surname }}
        </p>
        <app-section-upper-bar
          [data]="userPersonalInfo"></app-section-upper-bar>
      </div>
      <p
        *ngIf="userPersonalInfo.status"
        class="detail">
        Status:
        <span [ngClass]="userPersonalInfo.status">
          {{ userPersonalInfo.status | titlecase }}
          <mat-icon class="icon">
            {{ statusIconTypes.get(userPersonalInfo.status) }}
          </mat-icon>
        </span>
      </p>
      <p
        *ngIf="userPersonalInfo.birthday"
        class="detail">
        <mat-icon class="icon">card_giftcard</mat-icon>
        <span>{{ userPersonalInfo.birthday | date }}</span>
      </p>
      <p
        *ngIf="userPersonalInfo.phone"
        class="detail">
        {{ userPersonalInfo.phone }}
      </p>
      <p class="detail">
        {{ userPersonalInfo.email }}
      </p>
    </div>
  </div>
  <div *ngIf="userPersonalInfo.startDate">
    <p class="detail">
      <span class="term">Start Date:</span>
      <span>{{ userPersonalInfo.startDate | date }}</span>
    </p>
    <p
      *ngIf="userPersonalInfo.endDate"
      class="detail">
      <span class="term">End Date:</span>
      <span>{{ userPersonalInfo.endDate | date }}</span>
    </p>
    <p
      *ngIf="userPersonalInfo.endReason"
      class="detail">
      <span class="term">Reason:</span>
      <span>{{ userPersonalInfo.endReason }}</span>
    </p>
  </div>
</div>
