<div
  class="upper"
  *ngIf="user$ | async as user">
  <div class="bio">
    <div class="avatar"></div>
    <div class="info">
      <p class="name">{{ user.name || 'No Name ' }}</p>
      <app-start-edit
        [mode]="upperBarModes.full"
        [section]="sectionTypes.personalDetails"></app-start-edit>
      <p class="detail">
        Status:
        <span [ngClass]="user.status">
          {{ user.status | titlecase }}
          <mat-icon class="status-icon">unarchived</mat-icon>
        </span>
      </p>
      <p class="detail">
        <mat-icon
          *ngIf="user.birthday"
          class="status-icon">
          card_giftcard
        </mat-icon>
        <span>{{ user.birthday }}</span>
      </p>
      <p
        *ngIf="user.phone"
        class="detail">
        {{ user.phone }}
      </p>
      <p class="detail">
        {{ user.email }}
      </p>
    </div>
  </div>
  <div class="terms">
    <p class="detail">
      <span class="term">Start Date:</span>
      <span class="term-detail">{{ user.startDate | date }}</span>
    </p>
    <p
      *ngIf="user.endDate"
      class="detail">
      <span class="term">End Date:</span>
      <span class="term-detail">{{ user.endDate | date }}</span>
    </p>
    <p
      *ngIf="user.endReason"
      class="detail">
      <span class="term">Reason:</span>
      <span class="term-detail">{{ user.endReason }}</span>
    </p>
  </div>
</div>
