@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $l-padding;
}

.bio {
  display: flex;
  gap: $l-spacer;
  align-items: center;
}

.avatar {
  height: $avatar-width;
  width: $avatar-width;
  background-color: $base-color;
  border-radius: 50%;
}

.name-wrapper {
  display: flex;
  align-items: center;
}
.icon {
  color: inherit;
  transform: scale(0.9);
}

.detail {
  display: flex;
  align-items: center;
  gap: $xs-spacer;
  margin-bottom: $xxs-spacer;
}

.term {
  flex: 1 1 auto;
}

%status {
  display: flex;
  align-items: center;
}

.unarchived {
  @extend %status;
  color: $primary-color;
}

.archived {
  @extend %status;
  color: $base-color;
}

.active {
  @extend %status;
  color: $green-color;
}
