<div
  class="wrapper"
  *ngIf="user$ | async as user">
  <div class="bio">
    <div class="avatar"></div>
    <div class="info">
      <div class="name-wrapper">
        <p class="name">{{ user.name || 'No Name' }}</p>
        <span class="spacer"></span>
        <app-section-upper-bar
          mode="full"
          [section]="sectionTypes.personalDetails"></app-section-upper-bar>
      </div>
      <p
        *ngIf="user.status"
        class="detail">
        Status:
        <span [ngClass]="user.status">
          {{ user.status | titlecase }}
          <mat-icon class="status-icon">
            {{ statusIconTypes.get(user.status) }}
          </mat-icon>
        </span>
      </p>
      <p
        *ngIf="user.birthday"
        class="detail">
        <mat-icon class="status-icon">card_giftcard</mat-icon>
        <span>{{ user.birthday }}</span>
      </p>
      <p
        *ngIf="user.phone"
        class="detail">
        {{ user.phone }}
      </p>
      <p class="detail">
        {{ user.email }}
      </p>
    </div>
  </div>
  <div
    *ngIf="user.startDate"
    class="terms">
    <p class="detail">
      <span class="term">Start Date:</span>
      <span class="term-detail">{{ user.startDate | date }}</span>
    </p>
    <p
      *ngIf="user.endDate"
      class="detail">
      <span class="term">End Date:</span>
      <span class="term-detail">{{ user.endDate | date }}</span>
    </p>
    <p
      *ngIf="user.endReason"
      class="detail">
      <span class="term">Reason:</span>
      <span class="term-detail">{{ user.endReason }}</span>
    </p>
  </div>
</div>
