<div
  *ngIf="user$ | async as user; else spinner"
  class="wrapper">
  <app-user-details-header [user]="user"></app-user-details-header>
  <app-user-details-card-info [user]="user"></app-user-details-card-info>
  <div class="social-links-container">
    <p class="social-links-title">SOCIAL LINKS</p>
    <div class="social-links">
      <div *ngFor="let link of socialLinks | keyvalue">
        <div *ngIf="user[link.value]">
          <a
            href="{{ user[link.value] }}"
            class="social-link hyperlink">
            {{ link.key }}
          </a>
          <mat-icon class="copy-icon">file_copy</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
