.wrapper {
  margin: 20vh auto;
  width: 40%;
  display: flex;
  justify-content: center;

  mat-card {
    width: 100%;

    mat-card-header {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    .links {
      margin-top: 1vh;
      display: flex;
      justify-content: space-between;
    }
  }
}
