@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';
@import '/src/styles/_media-mixins.scss';

.personal-wrapper {
  display: flex;
  justify-content: space-between;
  gap: $m-size;

  @include media(tablet) {
    flex-direction: row;
  }
}

.bio-card {
  flex-grow: 1;
}

.terms-card {
  width: 30%;

  & .card-wrapper {
    height: 100%;
  }
}

.inner {
  display: flex;
  align-items: center;
  gap: $l-size;
}

.avatar-thumb {
  width: fit-content;
  border-radius: 50%;
}

.avatar {
  height: $avatar-width;
  width: $avatar-width;
  background-color: $base-color;
  border-radius: 50%;
  object-fit: cover;
}

.name-wrapper {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: $xs-size;
  margin-bottom: $xs-size;

  @include media(tablet) {
    justify-content: flex-start;
  }
}

%user-status {
  display: flex;
  align-items: center;
  gap: $xxs-size;
}

.unarchived {
  @extend %user-status;
  color: $green-color;
}

.archived {
  @extend %user-status;
  color: $light-subtitle-color;
}

.birthday-icon {
  font-size: $xs-icon-size;
  color: $primary-color;
}

.detail {
  display: flex;
  align-items: center;
  gap: $xxs-size;
  margin-bottom: $xxs-size;
  min-height: $s-icon-size;
}

.terms {
  display: flex;
  flex-direction: column;
}

.term {
  width: $xxl-size;
  color: $light-subtitle-color;
}

.project-status {
  margin-top: auto;

  & .mat-icon {
    position: absolute;
    top: -35%;
    right: -$xxs-size;
    color: inherit;
  }
}

.on-project {
  position: relative;
  width: $l-size;
  height: $s-size;
  background-color: $light-accent-color;
  color: $dark-accent-color;
  border-radius: $xs-size;
}

.off-project {
  @extend .on-project;
  background-color: $light-caption-color;
  color: $base-header-color;
}

.bg-circle {
  position: absolute;
  right: 0;
  width: $s-size;
  height: $s-size;
  background-color: $white-bg-color;
  border-radius: 50%;
}
