@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';
@import '/src/styles/_media-mixins.scss';

.personal-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  gap: $m-size;
  padding: $m-size 0;
  border-bottom: $base-border;

  @include media(tablet) {
    gap: 0;
    padding: 0 $m-size;
    flex-direction: row;
    border: none;
  }
}

.bio {
  display: flex;
  gap: $l-size;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: $m-size;
  border-bottom: $base-border;

  @include media(tablet) {
    flex-direction: row;
    width: auto;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.avatar {
  height: $avatar-width;
  width: $avatar-width;
  background-color: $base-color;
  border-radius: 50%;
}

.name-wrapper {
  display: flex;
  align-items: center;
  gap: $xs-size;
}

.icon {
  color: inherit;
  transform: scale(0.9);
}

.detail {
  display: flex;
  align-items: center;
  gap: $xs-size;
  margin-bottom: $xxs-size;
}

.term {
  flex: 1 1 auto;
}

%status {
  display: flex;
  align-items: center;
  gap: $xxs-size;
}

.unarchived {
  @extend %status;
  color: $green-color;
}

.archived {
  @extend %status;
  color: $base-color;
}
