.main-layout {
  width: 100%;
  height: 100%;
  margin: 0;
}

.sidenav {
  width: fit-content;
  padding: var(--xs-padding);
}

.nav-btn {
  display: block;
}

.active {
  color: var(--primary-color);
}
