<app-header
  [title]="title"
  (toggleSideNav)="drawer.toggle()"></app-header>
<mat-drawer-container
  autosize
  class="main-layout">
  <mat-drawer
    #drawer
    class="sidenav"
    mode="side">
    <ng-container *ngFor="let link of siteNavigationData">
      <button
        *ngIf="link.accessRoles.includes(role)"
        mat-icon-button
        routerLinkActive="active"
        class="nav-btn"
        attr.aria-label="Go to {{ link.title }} page"
        [routerLink]="link.path"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>{{ link.iconName }}</mat-icon>
      </button>
    </ng-container>
  </mat-drawer>
  <div class="sidenav-content">
    <router-outlet (activate)="setHeader()"></router-outlet>
  </div>
</mat-drawer-container>
