@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';
@import '/src/styles/_media-mixins.scss';

.main-layout {
  width: 100%;
  height: 100%;
  margin: 0;
}

.sidenav {
  display: none;

  @include media(tablet) {
    display: flex;
    flex-direction: column;
    gap: $xs-size;
    width: fit-content;
    padding: $xs-size;
  }
}

.mobile-nav {
  position: fixed;
  top: calc(100vh - $header-height);
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: $header-height;
  width: 100%;
  background-color: $white-bg-color;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 1px -2px 13px -2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 1px -2px 13px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px -2px 13px -2px rgba(0, 0, 0, 0.27);
  @include media(tablet) {
    display: none;
    padding: 0 $xs-size;
  }
}

.btn {
  justify-content: flex-start;
  height: 50px;
}

.btn.active {
  color: $primary-color;
}
.btn-icon {
  font-size: 24px;
}
