<ng-container *ngIf="siteNavigationLinksData$ | async as linksData">
  <app-header
    [title]="title"
    [linksData]="headerUserNavigationMenuLinksData$ | async"
    (toggleSideNav)="showFiller = !showFiller"></app-header>
  <mat-drawer-container
    autosize
    class="main-layout">
    <mat-drawer
      *ngIf="linksData.length"
      #drawer
      opened
      class="sidenav"
      mode="side">
      <ng-container *ngFor="let link of linksData">
        <button
          *ngIf="link.accessPermission"
          routerLinkActive="active"
          class="nav-btn"
          attr.aria-label="Go to {{ link.name }} page"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="link.path">
          <mat-icon class="btn-icon">
            {{ link.iconName }}
          </mat-icon>
          <span *ngIf="showFiller">{{ link.name | titlecase }}</span>
        </button>
      </ng-container>
    </mat-drawer>
    <div class="sidenav-content">
      <router-outlet (activate)="setHeader()"></router-outlet>
    </div>
  </mat-drawer-container>
  <div
    *ngIf="linksData.length"
    class="mobile-nav">
    <ng-container *ngFor="let link of linksData">
      <button
        *ngIf="link.accessPermission"
        routerLinkActive="active"
        class="nav-btn"
        attr.aria-label="Go to {{ link.name }} page"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="link.path">
        <mat-icon class="btn-icon">
          {{ link.iconName }}
        </mat-icon>
      </button>
    </ng-container>
  </div>
</ng-container>
