@import '/src/styles/_variables.scss';

.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy-icon {
  cursor: pointer;
  color: $base-color;
  transform: scale(0.9);
}

.copy-icon:hover {
  color: black;
}
