<div mat-dialog-content>
  <div class="upper">
    <h3 class="mat-headline-5 title">Edit Education</h3>
    <button
      mat-icon-button
      type="button"
      class="close-btn"
      aria-label="Close modal"
      (click)="_dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="wrapper">
    <form
      class="form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()">
      <div class="single-column">
        <mat-form-field
          class="input-field"
          appearance="outline">
          <mat-label>University Name</mat-label>
          <input
            matInput
            class="input"
            formControlName="universityName" />
        </mat-form-field>
        <mat-form-field
          class="input-field"
          appearance="outline">
          <mat-label>Education Level</mat-label>
          <input
            matInput
            class="input"
            formControlName="educationLevel" />
        </mat-form-field>

        <mat-form-field
          class="input-field"
          appearance="outline">
          <mat-label>Specialization</mat-label>
          <input
            matInput
            class="input"
            formControlName="specialization" />
        </mat-form-field>
      </div>
      <div
        mat-dialog-actions
        class="actions">
        <button
          mat-button
          type="button"
          color="primary"
          (click)="_dialogRef.close()">
          Cancel
        </button>
        <button
          mat-flat-button
          type="submit"
          color="primary"
          [disabled]="!form.valid">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
