<ng-container *ngIf="(userData$ | async)?.educationInfo as educationInfo">
  <div class="left-inner">
    <div class="upper-wrapper">
      <h3 class="mat-subtitle-2 primary">Education</h3>
      <button
        mat-icon-button
        class="icon-btn"
        aria-label="Copy content button"
        (click)="
          clipboardService.copyToClipboard({educationInfo}, clipboardRegistry)
        ">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button
        mat-icon-button
        class="icon-btn"
        aria-label="Edit content button">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngFor="let education of educationInfo">
      <p>{{ education.universityName | uppercase }}</p>
      <button
        mat-icon-button
        class="icon-btn"
        aria-label="Copy content button"
        (click)="
          clipboardService.copyToClipboard({educationInfo}, clipboardRegistry)
        ">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        class="icon-btn"
        aria-label="Edit content button">
        <mat-icon>delete_outline</mat-icon>
      </button>
      <p
        *ngIf="education.startDate"
        class="mat-caption light">
        {{ education.startDate | date : 'y' }} -
        {{ education.endDate | date : 'y' }}
      </p>
      <p>{{ education.educationLevel }}</p>
      <p>{{ education.specialization }}</p>
    </div>
    <app-empty-message
      *ngIf="!educationInfo?.length"
      title="education"></app-empty-message>
  </div>
</ng-container>
<ng-container *ngIf="userData$ | async as userContactsData">
  <div class="left-inner">
    <div class="upper-wrapper">
      <h3 class="mat-subtitle-2 primary">Address</h3>
      <button
        mat-icon-button
        class="icon-btn"
        aria-label="Edit content button"
        (click)="onEditContacts()">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        class="icon-btn"
        aria-label="Copy content button"
        (click)="
          clipboardService.copyToClipboard(
            { address: userContactsData.address, city: userContactsData.city },
            clipboardRegistry
          )
        ">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <p>{{ userContactsData.address }}</p>
    <app-empty-message
      *ngIf="!userContactsData.address"
      title="address"></app-empty-message>
    <h4
      *ngIf="userContactsData.city"
      class="mat-subtitle-1">
      City:
    </h4>
    <p>{{ userContactsData.city }}</p>
  </div>
</ng-container>
