.spacer {
  width: 30px;
}

.user-btn {
  margin-left: auto;
}

.user-menu {
  width: 200px;
}
.menu-link {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logout .mat-icon {
  margin: 0;
}
