@import '/src/styles/_variables.scss';
@import '/src/styles/_media-mixins.scss';

.spacer {
  width: $m-size;
}
.side-menu-btn {
  display: none;

  @include media(tablet) {
    display: block;
  }
}

.user-btn {
  margin-left: auto;
}

.menu-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    margin-right: 0;
  }
}

.logout .mat-icon {
  margin: 0;
}
