<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="nav"
    aria-label="Open main navigation menu"
    (click)="onToggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <span>{{ title }}</span>
  <button
    mat-icon-button
    class="user"
    aria-label="Open profile menu"
    [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<mat-menu
  #menu="matMenu"
  class="user-menu">
  <button mat-menu-item>
    <span class="link">My profile <mat-icon>person</mat-icon></span>
  </button>
  <button mat-menu-item>
    <span class="link">Log out <mat-icon>exit_to_app</mat-icon></span>
  </button>
</mat-menu>
