<mat-toolbar color="primary">
  <button
    mat-icon-button
    aria-label="Open main navigation menu"
    (click)="onToggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <span class="mat-headline-5 mb-0">{{ title }}</span>
  <button
    mat-icon-button
    class="user-btn"
    aria-label="Open profile menu"
    [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    class="menu-btn"
    [routerLink]="currentUserLinkPath">
    <span class="menu-link">My profile</span>
  </button>
  <button
    mat-menu-item
    class="menu-btn">
    <span class="menu-link">
      Log out
      <span class="spacer"></span>
      <mat-icon class="icon">exit_to_app</mat-icon>
    </span>
  </button>
</mat-menu>
