$base-color: rgba(204, 204, 204, 1);
$base-header-color: rgba(113, 113, 113, 1);
$primary-color: rgba(25, 118, 211, 1);
$primary-color-light: rgba(198, 218, 239, 0.492);
$green-color: rgb(8, 205, 90);

$base-text-color: rgba(0, 0, 0, 0.87);

$base-bg-color: #fafafa;
$white-bg-color: #ffffff;
