@use '@angular/material' as mat;

$palette-primary: mat.define-palette(mat.$blue-palette, 600);
$palette-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$typography: mat.define-typography-config(
  $font-family: $body-font,
  $body-2: mat.define-typography-level(14px, 20px, 400),
);

@include mat.typography-hierarchy($typography);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $palette-primary,
      accent: $palette-accent,
    ),
    typography: $typography,
    density: 0,
  )
);
