:root {
  --xs-spacer-width: 10px;
  --s-spacer-width: 15px;
  --m-spacer-width: 20px;
  --l-spacer-width: 30px;
  --xl-spacer-width: 40px;

  --xs-padding: 5px;
  --s-padding: 10px;
  --m-padding: 15px;
  --l-padding: 20px;
  --xl-padding: 30px;
}
