// values and range are supposed to be extended and modified
//  as further details from designers arrive

$xs-spacer: 10px;
$s-spacer: 15px;
$m-spacer: 20px;
$l-spacer: 30px;
$xl-spacer: 40px;

$xs-padding: 5px;
$s-padding: 10px;
$m-padding: 15px;
$l-padding: 20px;
$xl-padding: 30px;

$base-font-size: 12px;
$s-font-size: 9px;
$l-font-size: 16px;
