@import '/src/styles/_variables.scss';

.wrapper {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 20vh auto;

  .card-inner {
    width: 100%;
    gap: $m-size;

    .card-header {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .login-form {
      display: flex;
      flex-direction: column;
      gap: $xxs-size;
    }

    .links {
      display: flex;
      justify-content: space-between;
      margin-top: $s-size;
    }
  }
}
