<div class="wrapper">
  <div *ngIf="user$ | async as user">
    <app-section-upper-bar
      mode="full"
      [section]="userProfileInfoSections.education"></app-section-upper-bar>
    <div
      *ngFor="let education of user.educationInfo"
      class="contacts-tile">
      <p>{{ education.universityName }}</p>
      <p
        *ngIf="education.startDate"
        class="detail">
        {{ education.startDate | date : 'y' }} -
        {{ education.endDate | date : 'y' }}
      </p>
      <p>{{ education.pricingModel }}</p>
    </div>
    <app-empty-message
      *ngIf="!user.educationInfo.length"
      title="skills"></app-empty-message>
    <div class="contacts-tile">
      <app-section-upper-bar
        mode="full"
        [section]="userProfileInfoSections.address"></app-section-upper-bar>
      <p>{{ user.address }}</p>
      <app-empty-message
        *ngIf="!user.address"
        title="address"></app-empty-message>
      <h4 class="detail">Postal Code</h4>
      <p>{{ user.city }}</p>
      <app-empty-message
        *ngIf="!user.city"
        title="city"></app-empty-message>
    </div>
    <div class="contacts-tile">
      <app-section-upper-bar
        mode="full"
        [section]="
          userProfileInfoSections.invoiceDetails
        "></app-section-upper-bar>
      <ng-container *ngFor="let title of userBankInfoTitles | keyvalue">
        <p
          *ngIf="user[title.key]"
          class="detail">
          {{ title.value }}:
        </p>
        <p>{{ user[title.key] }}</p>
      </ng-container>
      <app-empty-message
        *ngIf="isUserBankDataEmpty$ | async"
        title="bank invoice info"></app-empty-message>
    </div>
    <div class="contacts-tile">
      <app-section-upper-bar
        mode="full"
        [section]="userProfileInfoSections.socials"></app-section-upper-bar>
    </div>
    <div class="contacts-tile">
      <ng-container
        *ngFor="let socialLink of socialLinksData | keyvalue"
        class="socials">
        <ng-container *ngIf="user[socialLink.key]">
          <div class="social-links">
            <app-custom-icon [name]="socialLink.key"></app-custom-icon>
            <a
              target="_blank"
              rel="noopener noreferrer"
              class="link"
              [href]="user[socialLink.key]">
              {{ socialLink.value | titlecase }}
            </a>
          </div>
        </ng-container>
      </ng-container>
      <app-empty-message
        *ngIf="isCurrentUserLinksDataEmpty$ | async"
        title="social links"></app-empty-message>
    </div>
  </div>
</div>
