<div class="wrapper">
  <div *ngIf="user$ | async as user">
    <app-start-edit
      [mode]="upperBarModes.full"
      [section]="sectionTypes.education"></app-start-edit>
    <div
      *ngFor="let education of user.educationInfo"
      class="contacts-tile">
      <p>{{ education.universityName }}</p>
      <p class="base-detail">
        {{ education.startDate | date : 'y' }}-
        {{ education.endDate | date : 'y' }}
      </p>
      <p>{{ education.pricingModel }}</p>
    </div>
    <div class="contacts-tile">
      <app-start-edit
        [mode]="upperBarModes.full"
        [section]="sectionTypes.address"></app-start-edit>
      <p>{{ user.address || 'No address information' }}</p>
      <h4 class="base-detail">Postal Code</h4>
      <p>{{ user.city || 'No city information' }}</p>
    </div>
    <div class="contacts-tile">
      <app-start-edit
        [mode]="upperBarModes.full"
        [section]="sectionTypes.invoiceDetails"></app-start-edit>
      <ng-container *ngFor="let detail of bankInvoiceDataKeys">
        <p
          *ngIf="user[detail]"
          class="base-detail">
          {{ bankInvoiceDataMap.get(detail) }}:
        </p>
        <p>{{ user[detail] }}</p>
      </ng-container>
    </div>
    <div class="contacts-tile">
      <app-start-edit
        [mode]="upperBarModes.full"
        [section]="sectionTypes.socials"></app-start-edit>
    </div>
    <div class="contacts-tile">
      <div
        *ngFor="let socialLink of socialLinksData"
        class="socials">
        <div *ngIf="user[socialLink]">
          <mat-icon [svgIcon]="socialLink"></mat-icon>
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="link"
            [href]="user[socialLink]">
            {{ socialLink | titlecase }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
