@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';

%subtitle {
  font-size: $accent-header-font-size;
  font-weight: $accent-header-font-weight;
  color: $primary-color;
  text-transform: uppercase;
}
.subtitle-accent {
  @extend %subtitle;
  color: $primary-color;
}
.subtitle-base {
  @extend %subtitle;
  color: $base-header-color;
  font-size: $base-font-size;
}
.left-section {
  display: flex;
  flex-direction: column;
  gap: $l-spacer;
  padding: 0 $l-padding;
}
.years {
  color: $base-header-color;
}
.socials {
  display: flex;
  align-items: center;
  gap: $m-spacer;
  margin-bottom: $xs-spacer;
}
.link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid $base-text-color;
}
