<div
  *ngIf="users$ | async as users"
  class="wrapper">
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Filter..."
      [formControl]="filter" />
  </mat-form-field>
  <ag-grid-angular
    class="ag-theme-alpine users-grid"
    domLayout="autoHeight"
    [rowData]="users"
    [enableCellTextSelection]="true"
    [columnDefs]="colDefs"
    [context]="context"
    [pagination]="true"
    [paginationPageSize]="10"
    (gridReady)="onGridReady($event)"></ag-grid-angular>
</div>
<app-loader *ngIf="loading$ | async"></app-loader>
