<div class="wrapper">
  <app-user-personal-info></app-user-personal-info>
  <div class="middle">
    <div class="left">
      <app-user-education-contacts></app-user-education-contacts>
    </div>
    <div class="right-section">
      <div class="tile">
        <div class="title-edit-bar">
          <app-start-edit
            [mode]="upperBarModes.full"
            [section]="sectionTypes.description"></app-start-edit>
        </div>
        <p>
          {{ (user$ | async)?.positionDescription }}
        </p>
        <app-empty-message
          *ngIf="!(user$ | async)?.positionDescription"
          [title]="'description'"></app-empty-message>
      </div>
      <div class="tile">
        <app-start-edit
          [mode]="upperBarModes.full"
          [section]="sectionTypes.skills"></app-start-edit>
        <mat-chip-listbox aria-label="User skills">
          <mat-chip
            *ngFor="let skill of skills$ | async"
            class="chips">
            {{ skill }}
          </mat-chip>
        </mat-chip-listbox>
        <app-empty-message
          *ngIf="!(user$ | async)?.skills"
          [title]="'skills'"></app-empty-message>
      </div>
      <div class="tile">
        <app-user-work-info></app-user-work-info>
      </div>
      <div class="tile">
        <app-start-edit
          [mode]="upperBarModes.noControls"
          [section]="sectionTypes.portfolio"></app-start-edit>
      </div>
    </div>
  </div>
  <div class="bottom"></div>
</div>
