@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $xxxl-spacer;
  padding: $m-padding;
}
.middle {
  width: 100%;
  display: flex;
}
.left {
  min-width: fit-content;
}
////////////////////////////////////////////////
.subtitle-accent {
  font-size: $accent-header-font-size;
  font-weight: $accent-header-font-weight;
  color: $primary-color;
  text-transform: uppercase;
}
.subtitle-bold {
  font-weight: $base-header-font-weight;
}
.subtitle-base {
  color: $base-header-color;
}
.years {
  color: $base-header-color;
  font-size: $s-font-size;
}
////////////////////////////////////////////////////////////////
.right-section {
  padding: 0 $xxl-padding;
  border-left: $primary-border;
}
.tile {
  padding: $xl-padding 0;

  &:not(:last-of-type) {
    border-bottom: $primary-border;
  }

  &:first-of-type {
    padding-top: 0;
  }
}
