@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $xxl-spacer;
  padding: $m-padding;
}
.edit-btn {
  display: inline-block;
}
.middle {
  width: 100%;
  display: flex;
}
.left {
  min-width: fit-content;
}
.title-edit-bar {
  display: flex;
  align-items: baseline;
}
.subtitle-accent {
  font-size: $accent-header-font-size;
  font-weight: $accent-header-font-weight;
  color: $primary-color;
  text-transform: uppercase;
}

.tile .chips {
  background-color: $primary-color-light;
  border: $primary-border;
  pointer-events: none;
}

.right-section {
  flex-grow: 1;
  padding: 0 $xxl-padding;
  border-left: $base-border;
}
.tile {
  padding: $xl-padding 0;

  &:not(:last-of-type) {
    border-bottom: $base-border;
  }

  &:first-of-type {
    padding-top: 0;
  }
}
