<app-section-upper-bar
  mode="full"
  [section]="sectionTypes.workHistory"></app-section-upper-bar>
<div
  *ngFor="let work of userWorkHistory$ | async; let i = index"
  class="work-item">
  <p class="subtitle-bold">{{ work.project }}</p>
  <p class="years">
    {{ work.startDate | date }}-
    {{ work.endDate | date }}
  </p>
  <p class="subtitle-base">Position on Project</p>
  <p>{{ work.positionOnProject }}</p>
  <p class="subtitle-base">Responsibilities</p>
  <p>{{ work.responsibility }}</p>
</div>
<app-empty-message
  *ngIf="!(userWorkHistory$ | async)?.length"
  title="work history"></app-empty-message>
