@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';

.subtitle-bold {
  font-weight: $base-header-font-weight;
}

.subtitle-base {
  color: $base-header-color;
}

.subtitle-accent {
  margin-bottom: 0;
  font-size: $accent-header-font-size;
  font-weight: $accent-header-font-weight;
  color: $primary-color;
  text-transform: uppercase;
}

.years {
  color: $base-header-color;
  font-size: $s-font-size;
}

.work-item {
  padding-top: $xl-padding;
  &:not(:last-of-type) {
    padding-top: 0;
    border-bottom: $base-border;
  }
}
