@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';

.subtitle-bold {
  font-weight: $base-header-font-weight;
}

.work-item {
  padding-top: $xl-padding;
  &:not(:last-of-type) {
    padding-top: 0;
    border-bottom: $base-border;
  }
}
