@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';

.work-item {
  padding-top: $xl-padding;

  &:not(:last-of-type) {
    padding: 0 0 $xl-padding 0;
    border-bottom: $base-border;
  }

  .project-name {
    margin-bottom: $xxs-spacer;
  }
}
