@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';
@import '/src/styles/_media-mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;

  @include media(tablet) {
    gap: $xxl-size;
  }
}

.upper-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: $m-size;
  gap: $xs-size;

  @include media(tablet) {
    max-width: 17em;
  }
}

.middle {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include media(tablet) {
    flex-direction: row;
  }
}

.left {
  min-width: fit-content;
}

.left-inner {
  display: flex;
  flex-direction: column;
  padding: $m-size;
  margin: 0 auto;
  border-bottom: $base-border;

  @include media(tablet) {
    max-width: 17em;
    padding: 0 $m-size;
    margin-bottom: $m-size;
    border: none;
  }
  @include media(l-tablet) {
    max-width: 20em;
  }
}

.right {
  flex-grow: 1;

  @include media(tablet) {
    padding: 0 $xxl-size;
    border-left: $base-border;
  }
}

.tile {
  padding: $m-size;
  @include media(tablet) {
    &:first-of-type {
      padding-top: 0;
    }
  }

  &:not(:last-of-type) {
    border-bottom: $base-border;
  }
}

.icon-btn {
  width: $icon-size;
  height: $icon-size;
  background-color: $primary-color-light;

  .mat-icon {
    font-size: $body-font-size;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.446);
  position: fixed;
  z-index: 3;
  top: $mobile-header-height;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media(tablet) {
    top: $header-height;
  }
}
