@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $xxl-spacer;
  padding: $xl-padding $m-padding;
}

.upper-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: $xs-spacer;
  gap: $xs-spacer;
}

.middle {
  width: 100%;
  display: flex;
}

.left {
  min-width: fit-content;
}

.left-inner {
  display: flex;
  flex-direction: column;
  max-width: 17em;
  padding: 0 $xl-padding;
  margin-bottom: $m-spacer;
}

.right {
  flex-grow: 1;
  padding: 0 $xxl-padding;
  border-left: $base-border;
}

.tile {
  padding: $s-padding 0 $xl-padding 0;

  &:not(:last-of-type) {
    border-bottom: $base-border;
  }

  &:first-of-type {
    padding-top: 0;
  }
}

.icon-btn {
  width: 30px;
  height: 30px;
  background-color: $primary-color-light;

  .mat-icon {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.446);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
