<div class="wrapper">
  <h3 class="subtitle-accent">
    {{ UserProfileInfoSectionTitles.get(section) }}
  </h3>
  <button
    *ngIf="mode !== 'noControls'"
    mat-icon-button
    class="icon-btn"
    aria-label="Edit content button"
    (click)="openDialog()">
    <mat-icon>edit</mat-icon>
  </button>
  <button
    *ngIf="mode !== 'noControls'"
    mat-icon-button
    class="icon-btn"
    aria-label="Copy content button"
    (click)="copyToClipBoard()">
    <mat-icon>content_copy</mat-icon>
  </button>
</div>
