@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';

.wrapper {
  display: flex;
  align-items: center;
}

.icon-btn {
  transform: scale(0.6);
  background-color: $primary-color-light;
}
