@use '@angular/material' as mat;

@import '/src/styles/_color-palette.scss';
@import '/src/styles/_variables.scss';
@import '/src/styles/_theme.scss';

@include mat.core();
@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  .mat-subtitle-2.primary {
    text-transform: uppercase;
    color: $primary-color;
    margin: 0 0 $l-spacer;
  }
  .mat-subtitle-1 {
    color: $light-subtitle-color;
  }
  .mat-caption.primary {
    color: $primary-color;
  }
  .mat-caption.light {
    color: $light-subtitle-color;
    font-size: $s-font-size;
  }
}
