@use '@angular/material' as mat;

@import '/src/styles/_color-palette.scss';
@import '/src/styles/_variables.scss';
@import '/src/styles/_theme.scss';

@include mat.core();
@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
p {
  font-size: $base-font-size;
}
