<div mat-dialog-content>
  <div class="upper">
    <h3 class="mat-headline-5 title">{{ dialogData.header }}</h3>
    <button
      mat-icon-button
      class="close-btn"
      aria-label="Close modal"
      (click)="_dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="wrapper">
    <form
      class="form"
      [formGroup]="form">
      <div [ngClass]="dialogData.style">
        <ng-container *ngFor="let title of dialogData.titles | keyvalue">
          <mat-form-field
            class="input-field"
            appearance="outline">
            <mat-label>
              {{ title.value | titlecase }}
            </mat-label>
            <input
              matInput
              class="input"
              formControlName="{{ title.key }}" />
            <mat-error *ngIf="form.controls[title.key].hasError('pattern')">
              {{ dialogData.validationOptions?.get(title.key)?.errorMessage }}
            </mat-error>
          </mat-form-field>
        </ng-container>
      </div>
      <div
        mat-dialog-actions
        class="actions">
        <button
          mat-button
          type="button"
          color="primary"
          (click)="_dialogRef.close()">
          Cancel
        </button>
        <button
          mat-flat-button
          type="submit"
          color="primary"
          [disabled]="!form.valid"
          (click)="onSubmit()">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
