@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $l-spacer;
  padding: 0 $xl-padding;
}

.subtitle-accent {
  margin-bottom: 0;
  font-size: $accent-header-font-size;
  font-weight: $accent-header-font-weight;
  color: $primary-color;
  text-transform: uppercase;
}

.detail {
  color: $base-header-color;
}

.socials {
  display: flex;
  align-items: center;
  gap: $m-spacer;
  margin-bottom: $xs-spacer;
}

.social-links {
  display: flex;
  gap: $xs-spacer;
  margin-bottom: $xs-spacer;
}

.link {
  align-self: center;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid $base-text-color;
}
