@import '/src/styles/_variables.scss';
@import '/src/styles/color-palette';

.action-icon {
  cursor: pointer;
  color: $base-color;
  padding-top: 8px;
}

.action-icon:hover {
  color: $base-text-color;
}
